*/etc/glusterfs/*
!*/etc/glusterfs

*/var/lib/glusterd/*
!*/var/lib/glusterd

*/var/log/glusterfs/*
!*/var/log/glusterfs

*/srv/glusterfs/*
!*/srv/glusterfs

*/sys/fs/cgroup/*
!*/sys/fs/cgroup

*/dev/*
!*/dev

pika*/*
!pika-*